# Ignorovať súbory a adresáre generované nástrojmi pre vývoj
node_modules/
dist/
build/

# Ignorovať konfiguračné súbory pre vývojové nástroje
.env
*.env.local
*.env.development
*.env.test
*.env.production

# Ignorovať osobné súbory a adresáre
.DS_Store
Thumbs.db
logs/
tmp/

# Ignorovať súbory so závislosťami v konkrétnom jazyku
# (napr. pre Python)
*.pyc
*.pyo
*.pyd

# Ignorovať súbory so závislosťami v konkrétnom jazyku
# (napr. pre JavaScript/TypeScript)
*.js
*.jsx
*.ts
*.tsx

# Ignorovať rôzne dočasné súbory a adresáre
*.log
*.tmp
.idea/
.vscode/
