# Ignorovanie node_modules
node_modules/

# Ignorovanie vytvorených súborov JavaScriptu
dist/

# Ignorovanie súborov s prostredím
.env

# Ignorovanie inštalačných súborov package managerov
package-lock.json
yarn.lock

# Ignorovanie konfiguračných súborov IDE
.vscode/
.idea/

# Ignorovanie súborov prototypov
*.d.ts

# Ignorovanie logov a dočasných súborov
logs/
temp/
